.banner-parent-div{
    border-top: #0d0d0e 2px solid;
    border-bottom: #0d0d0e 2px solid;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 30px;
    margin-bottom: 30px;
    
}
.banner-image{
    height: 500px;
    width: 600px;
    object-fit: fit;
}
.banner-content {
    margin-left: 30px;
    height: 550px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;

}

.banner-header{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    background-color: antiquewhite;
    border-radius: 12px;
    margin-bottom: 30px;
}
.benefits{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.benefits p{
    font-size: 20px;
    margin-bottom: 10px;
}



.vendor-register button {
    background-color: #112434;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    height: 50px;
    border-radius: 20px;
    cursor: pointer;
  }