.booking-section {
  
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: 1px solid #000;

}
.date-picker{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  margin-top: 10px;
}
.date-picker label{
  text-align: center;
  font-size: large;
  font-weight: bold;
}

.booking-third-section {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
}
.third-first-field{
  padding: 0 20px;
  margin-top: 20px;
}
.third-first-field input{
  width: 100%;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.third-second-field{
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-bottom: 20px;
  padding: 20px;
}
.third-second-field input{
  padding: 10px;
  margin-top: 10px;
}
.radio-label {
  margin-left: 12px;
}
.booked-details{
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 10px;
}