.calendar{
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
    height: 300%
}
.first-date{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    margin: 10px;
    width: 100%;
}
.second-date{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    margin: 10px;
}
.label-date{
    font-size: 32px;
    font-weight:bolder;
    color: #707070;
}
.real-calendar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    width: 100%;
}