.pagenotfound{
    text-align: center;
    margin-top: 10%;
    font-size: 40px;
    font-weight: bolder;
    color: #000000;
}
.return{
    text-align: center;
    margin-top: 10%;
    font-size: 20px;
    font-weight: bolder;
    color: #000000;
}